/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #000000;
  --cor-de-link: #ffffff;
  color: white;
}

body {
  box-sizing: border-box;
  background-color: #161616;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: "noka", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0 5% 0 5%;
  white-space: nowrap;
  background-color: #00000096;
}

.menu__header {
  display: flex;
  align-items: center;
}

header img,
h3 {
  display: flex;
  flex-wrap: nowrap;
}

.menu__list {
  display: flex;
  gap: 50px;
  padding: 15px 30px 15px 30px;
  border: 2px #ffffff81;
  border-radius: 20px;
  border-style: solid;
}

/*Sección Title*/

section.title {
  width: auto;
  height: auto;
  display: flex;
  margin: 30px 0 0 0;
}

.title__div {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 80px 80px 0 0;
}

.title__profile {
  width: 40%;
}

.title__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar {
  position: fixed;
  display: flex;
  right: 0;
  background-color: #00000096;
  border-radius: 20px 0 0 20px;
  height: 235px;
  align-items: center;
  top: 50%;
  transform: translate(0, -50%);
}

.title__network {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 10px 5px;
  padding: 10px 10px 5px 10px;
  gap: 20px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

/*Sección About*/

section.about {
  display: flex;
  padding: 10px;
  margin: 100px 60px 100px 60px;
}

.about__title {
  justify-content: center;
  margin: 0 0 30px 0;
  font-size: 2em;
}

.about__paragraph {
  margin: 0 0 30px 0;
}

/*Sección Hobbies*/

section.hobbies {
}

/* Experiencia Académica*/

section.academic {
}

/* experiencia*/

section.experience {
}

/*Contacto*/

section.formcontato {
}

/*footeer*/

section.footer {
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
