body {
  box-sizing: border-box;
  background-image: url(assets/bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: "noka", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*Sección Menu*/

section.menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.menu__header {
  width: 80%;
  min-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  transform: skew(-25deg);
  outline-offset: 5px;
  outline: 2px solid #ffffff;
  padding: 0;
}

.menu__list__item {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 0 3px;
  transition: all 0.5s ease;
  background-color: white;
  border: 2px solid white;
}

.menu__list__item a {
  display: block;
  transform: skew(25deg);
}

.menu__list__item:hover {
  background-color: black;
  color: white;
}

/*Sección Title*/

section.title {
  width: auto;
  height: auto;
  margin: 100px 30px 0 30px;
}

.title__div {
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: #000000c9;
  border-radius: 20px;
  box-shadow: -4px 4px #2c2c2ca1;
  padding: 30px 50px 30px 50px;
}

.title__profile {
  width: 30%;
  border-radius: 80px;
  border: 2px solid #ffffff86;
}

.title__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Seccion Sidebar */
.redes {
  display: flex;
  border-radius: 20px 0 0 20px;
  height: 235px;
  align-items: center;
}

.title__network {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 5px 10px;
  gap: 20px;
}

/*Sección About*/

section.about {
  display: flex;
  margin: 70px 30px 70px 30px;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px 30px 50px;
  background-color: #000000c9;
  border-radius: 20px;
  box-shadow: -4px 4px #2c2c2ca1;
}

.about__title {
  justify-content: center;
  margin: 0 0 30px 0;
  font-size: 2em;
}

.about__paragraph {
  margin: 0 0 30px 0;
}

/* Sección Skills */
section.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills__box {
  margin: 0 30px 0 0;
}

.skills__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills__box ul {
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills__img img {
  vertical-align: middle;
}

/*Sección Hobbies*/

section.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.hobbies__line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Experiencia Académica*/

section.academic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.academic__courses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* experiencia*/

section.experience {
}

/*Contacto*/

section.formcontato {
}

/*footeer*/

section.footer {
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
